CTT_Package/flows/Guided_Script_Contact_Tracing.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Location_Emp</name>
        <label>Assign Location Emp</label>
        <locationX>630</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone_Number_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Supervisor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Employment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Contractor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Address_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Home_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Office_Loc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>locempdecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Callback</name>
        <label>Callback</label>
        <locationX>1282</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Callback_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Callback_Time_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Details</name>
        <label>Contact Details</label>
        <locationX>784</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Details_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gather_Contact_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Corona_Info</name>
        <label>Corona Info</label>
        <locationX>1466</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Corona_Info_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Coronavirus_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>1121</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intro_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_to_Talk_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Objective</name>
        <label>Objective</label>
        <locationX>1295</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objective_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Objective_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quarantine</name>
        <label>Quarantine</label>
        <locationX>906</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quarantine_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quarantine_Overview_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quarantine_Specifics</name>
        <label>Quarantine Specifics</label>
        <locationX>565</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specific_Quarantine_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SpecificQuarantineInstructionsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Referral</name>
        <label>Referral</label>
        <locationX>1026</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referrals_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Referrals_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Symptom</name>
        <label>Symptom</label>
        <locationX>1149</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Symptom_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sympton_Check_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Current_Emptype</name>
        <choiceText>{!Empl_Default_Choice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Empl_Default_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Current_Location</name>
        <choiceText>{!Location_Default_Choice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Location_Default_Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultEmploymentType</name>
        <choiceText>{!SelectedEmploymentType}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedEmploymentType</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultLocation</name>
        <choiceText>{!SelectedLocation}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedLocation</elementReference>
        </value>
    </choices>
    <choices>
        <description>No, a patient does not have time to talk and needs to schedule a callback time</description>
        <name>No_Time_to_Talk</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>{!ContactRecord.Employment_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ContactRecord.Employment_Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>store_choice_loc</name>
        <choiceText>{!Primary_Office_Loc}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Selected_Location</elementReference>
        </value>
    </choices>
    <choices>
        <description>choice that indicates patient has time to talk</description>
        <name>Yes_Time_to_Talk</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>CallbackTaskReminderSet</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>CallbackTaskSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantvalueNo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>ConstantvalueYes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>locempdecision</name>
        <label>locempdecision</label>
        <locationX>430</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>des_yes</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Contractor</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Office_Loc</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Contact_Details_Screen</targetReference>
            </connector>
            <label>des_yes</label>
        </rules>
        <rules>
            <name>des_no</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Contractor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Office_Loc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record</targetReference>
            </connector>
            <label>des_no</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_to_Talk_Decision</name>
        <label>Time to Talk Decision</label>
        <locationX>1274</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Time_to_Talk</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corona_Info</targetReference>
            </connector>
            <label>DecisionYes</label>
        </rules>
        <rules>
            <name>DecisionNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Time_to_Talk</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Callback</targetReference>
            </connector>
            <label>DecisionNo</label>
        </rules>
    </decisions>
    <description>Changed Location Label</description>
    <dynamicChoiceSets>
        <name>EmploymentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employment_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Emptype_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>empl_type_durableid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Current_Emptype</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Selected_Emptype</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GenericSymptoms_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Symptoms__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Location_Picklist_Choices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location_durableid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Current_Emptype</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Selected_Location</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Home_Location__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DaysSinceExposureFormula</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!ExposureDateVar}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Empl_Default_Choice</name>
        <dataType>String</dataType>
        <expression>IF(IsBlank(Text({!ContactRecord.Employment_Type__c})),&apos;--None--&apos;,Text({!ContactRecord.Employment_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>InfectPeriodVar</name>
        <dataType>String</dataType>
        <expression>IF({!RecordTypeVar} =&apos;Positive Outreach&apos; &amp;&amp; NOT(ISBLANK({!LastOnsiteDtVar})),
       
       if({!LastOnsiteDtVar}  &gt; {!InfectStartDtVar} &amp;&amp; {!LastOnsiteDtVar}  &lt;= {!InfectEndDtVar}
          &amp;&amp; {!LastOnsiteDtVar}  &lt; today(),
          &apos;on or around &apos; + TEXT(MONTH({!InfectStartDtVar}))+&quot;/&quot;+TEXT(DAY({!InfectStartDtVar}))+&quot;/&quot;+TEXT(YEAR({!InfectStartDtVar})) + 
          &apos; and &apos; + TEXT(MONTH({!LastOnsiteDtVar}))+&quot;/&quot;+TEXT(DAY({!LastOnsiteDtVar}))+&quot;/&quot;+TEXT(YEAR({!LastOnsiteDtVar})) ,&apos;recently&apos;),
       
       if({!RecordTypeVar} =&apos;Positive Outreach&apos; &amp;&amp; ISBLANK({!InfectStartDtVar}) || ISBLANK({!InfectEndDtVar}), &apos;recently&apos;,
          if({!RecordTypeVar} =&apos;Positive Outreach&apos; &amp;&amp; {!InfectEndDtVar} &gt; today(),&apos;on or around &apos; + 
             TEXT(MONTH({!InfectStartDtVar}))+&quot;/&quot;+TEXT(DAY({!InfectStartDtVar}))+&quot;/&quot;+TEXT(YEAR({!InfectStartDtVar}))+
             &apos; and &apos; +TEXT(MONTH(today()))+&quot;/&quot;+TEXT(DAY(today()))+&quot;/&quot;+TEXT(YEAR(today())),
             if({!RecordTypeVar} =&apos;Positive Outreach&apos;,&apos;on or around, &apos; +
                TEXT(MONTH({!InfectStartDtVar}))+&quot;/&quot;+TEXT(DAY({!InfectStartDtVar}))+&quot;/&quot;+TEXT(YEAR({!InfectStartDtVar})) +
                &apos; and &apos; +TEXT(MONTH({!InfectEndDtVar}))+&quot;/&quot;+TEXT(DAY({!InfectEndDtVar}))+&quot;/&quot;+TEXT(YEAR({!InfectEndDtVar})),&apos;&apos;))))</expression>
    </formulas>
    <formulas>
        <name>Location_Default_Choice</name>
        <dataType>String</dataType>
        <expression>IF(IsBlank(Text({!ContactRecord.Home_Location__c})),&apos;--None--&apos;,Text({!ContactRecord.Home_Location__c}))</expression>
    </formulas>
    <formulas>
        <name>PositiveSymptomText</name>
        <dataType>String</dataType>
        <expression>(IF(ISBLANK({!PositiveDateVar}), &quot;unknown&quot;, TEXT(MONTH({!PositiveDateVar}))+&quot;/&quot;+TEXT(DAY({!PositiveDateVar}))+&quot;/&quot;
+TEXT(YEAR({!PositiveDateVar}))))</expression>
    </formulas>
    <formulas>
        <name>SelectedEmploymentType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!SelectedContact.Employment_Type__c})=&quot;&quot;,{!UpdatedEmploymentType},(TEXT({!SelectedContact.Employment_Type__c})))</expression>
    </formulas>
    <formulas>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!SelectedContact.Home_Location__c})=&quot;&quot;,{!UpdatedLocation},TEXT({!SelectedContact.Home_Location__c}))</expression>
    </formulas>
    <formulas>
        <name>TimeDateNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>UpdatedEmploymentType</name>
        <dataType>String</dataType>
        <expression>IF((TEXT({!ContactRecord.Employment_Type__c})=&quot;&quot;), &quot;--None--&quot;, TEXT({!ContactRecord.Employment_Type__c}) )</expression>
    </formulas>
    <formulas>
        <name>UpdatedLocation</name>
        <dataType>String</dataType>
        <expression>IF((TEXT({!ContactRecord.Home_Location__c})=&quot;&quot;), &quot;--None--&quot;, TEXT({!ContactRecord.Home_Location__c}))</expression>
    </formulas>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Guided Script - Contact Tracing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guided Script - Contact Outreach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates new task, related to case, to reminder call agent to call patient at another time.</description>
        <name>Create_Callback_Task</name>
        <label>Create Callback Task</label>
        <locationX>780</locationX>
        <locationY>225</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <elementReference>CallbackTaskReminderSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>TaskCallbackDateTimeVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CallbackTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Fields</name>
        <label>Get Case Fields</label>
        <locationX>403</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExposureDateVar</assignToReference>
            <field>Last_Exposure_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastOnsiteDateVar</assignToReference>
            <field>Last_Onsite_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuarantineEndVar</assignToReference>
            <field>Quarantine_End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Owner_Name</name>
        <label>Get User Record</label>
        <locationX>682</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CaseOwnerNameVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>812</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intro_Script_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Employment_Type__c</queriedFields>
        <queriedFields>Supervisor_Name__c</queriedFields>
        <queriedFields>Employer__c</queriedFields>
        <queriedFields>Home_Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>530</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Owner_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>InfectEndDtVar</assignToReference>
            <field>Infective_Period_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InfectStartDtVar</assignToReference>
            <field>Infective_Period_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeVar</assignToReference>
            <field>Inquiry_Record_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastOnsiteDtVar</assignToReference>
            <field>Last_Onsite_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>776</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Quarantine</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employer_Name__c</field>
            <value>
                <elementReference>Employer_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>475</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Quarantine_Specifics</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Policy_Email_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom_Onset_Date__c</field>
            <value>
                <elementReference>SymptomOnsetDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom_Resolution_Date__c</field>
            <value>
                <elementReference>SymptomsEndDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms__c</field>
            <value>
                <elementReference>Patient_has_symptoms_input</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>599</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Type__c</field>
            <value>
                <elementReference>Employee_Contractor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Location__c</field>
            <value>
                <elementReference>Primary_Office_Loc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Phone_Number_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_Name__c</field>
            <value>
                <elementReference>Supervisor_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Call_Objective_Screen</name>
        <label>Call Objective Screen</label>
        <locationX>1029</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Details</targetReference>
        </connector>
        <fields>
            <name>Call_Objectives</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Call Objectives&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallObjectText</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Our Agency is working to slow the spread of COVID-19 in the workplace. To do this, we need to talk about two important items with you.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;First, we will make a plan together to help you make sure that in case you do become ill with the coronavirus, those close to you (your co-workers, family, friends) will not be put at any unnecessary risk.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Second, I would like to discuss with you a list of common symptoms.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Callback_Time_Screen</name>
        <label>Callback Time Screen</label>
        <locationX>1024</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Callback_Task</targetReference>
        </connector>
        <fields>
            <name>Next_Best_Time</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Next Best Time to Call&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Callback_Prompt_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;When is a better time to call in the next 24 hours?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Callback_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Callback Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Coronavirus_Info_Screen</name>
        <label>Coronavirus Info Screen</label>
        <locationX>1463</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Objective</targetReference>
        </connector>
        <fields>
            <name>Coronavirus_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Coronavirus Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoronavirusInfoText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;We believe that you could have been exposed to the coronavirus recently&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt; &lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;There are a few next steps for you, but first, I would like to tell you more about the coronavirus.&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;COVID-19 is a new virus and is in almost all countries in the world. It can cause many types of symptoms but mostly affects the respiratory system, causing fever and cough. It spreads from an infected person from when they cough, breathe, sneeze, or touch a surface that other people then touch. COVID-19 is extremely contagious, and it spreads very easily through contact. Luckily, most cases are mild or moderate and most people do not need to be hospitalized. Some cases can get more serious and cause pneumonia and breathing difficulties. This call is not intended to replace the interaction with your private healthcare provider. If you need additional information, please speak with your clinician.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1377</locationX>
        <locationY>697</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Page</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Error Page&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Errorscreen</name>
            <fieldText>&lt;p&gt;Please fix these errors and continue :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Gather_Contact_Details_Screen</name>
        <label>Gather Contact Details Screen</label>
        <locationX>451</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Location_Emp</targetReference>
        </connector>
        <fields>
            <name>Confirm_Employee</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Confirm Employee/Contractor Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmContactText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before we start, let us make sure we have your correct contact information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mobile_Phone_Number_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Preferred Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Address_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.Email</elementReference>
            </defaultValue>
            <fieldText>Preferred Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Office_Loc</name>
            <choiceReferences>DefaultLocation</choiceReferences>
            <choiceReferences>LocationPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultLocation</defaultSelectedChoiceReference>
            <fieldText>Home  Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Home Location is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Primary_Office_Loc</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employee_Contractor</name>
            <choiceReferences>DefaultEmploymentType</choiceReferences>
            <choiceReferences>EmploymentTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultEmploymentType</defaultSelectedChoiceReference>
            <fieldText>Employment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emp_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;﻿Employment Type is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Employee_Contractor</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.Employer__c</elementReference>
            </defaultValue>
            <fieldText>Employer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Supervisor_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.Supervisor_Name__c</elementReference>
            </defaultValue>
            <fieldText>Supervisor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro_Script_Screen</name>
        <label>Intro Script Screen</label>
        <locationX>962</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
        <fields>
            <name>Intro_Step_Name</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿Contact Outreach - Introduction&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intro_Script_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Hello, my name is   &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!CaseOwnerNameVar}&lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;and I am calling from&amp;nbsp;__________ regarding COVID-19 and assisting as a contract tracer for the Agency and would like to speak with you regarding your recent work activities.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Can I confirm that I am speaking with &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!ContactRecord.Name}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;?  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(228, 10, 10); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;If no, ask to speak to that person.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;One person who has been diagnosed with the virus has been in contact with you &lt;/span&gt;&lt;span style=&quot;color: black; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;recently&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;This does not mean that you have coronavirus or will get coronavirus.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Time_to_Talk_Choice</name>
            <choiceReferences>Yes_Time_to_Talk</choiceReferences>
            <choiceReferences>No_Time_to_Talk</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes_Time_to_Talk</defaultSelectedChoiceReference>
            <fieldText>Do you have a few minutes we could discuss what this might mean for you?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Privacy_Act_Script</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 0, 0); font-size: 14px;&quot;&gt;[If yes, must read]&lt;/span&gt;&lt;i style=&quot;color: rgb(253, 0, 0); font-size: 14px;&quot;&gt; &lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Let me first read you this Privacy Act Notification.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The collection of information you are about to provide is authorized and will be protected in accordance with the Privacy Act of 1974. Failure to provide the requested information will result in denial of your Agency access.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The information will be used to determine whether you may have been exposed to the COVID-19 virus and to trace your interactions.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Agency may share this information for authorized purposes with (1) private or other government health care providers or agencies for consultation, and (2) other entities outlined under routine uses for all the Agency’s systems of records.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I will email you an electronic copy of this statement along with an elaboration of the System of Records and conditions of information disclosure of “Routine Uses.” &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quarantine_Overview_Screen</name>
        <label>Quarantine Overview</label>
        <locationX>1046</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Symptom</targetReference>
        </connector>
        <fields>
            <name>Isolation_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Self-Isolation Instructions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuarantineDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;As&amp;nbsp;some people are more at risk for serious illness from COVID-19, we recommend that, if possible, you stay separate from them during the&amp;nbsp;self-isolation&amp;nbsp;period. This is to protect them in case you develop symptoms. Sometimes symptoms can take a few days to show up, so&amp;nbsp;it is&amp;nbsp;important we separate individuals who may be at risk. This is to be on the safe side. We are going to talk about what&amp;nbsp;self-isolation&amp;nbsp;means together today. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Self-isolation&amp;nbsp;is 14 days long from when you were exposed&amp;nbsp;recently.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Even if you do not experience any of these symptoms, you should not return to on-site work until after this period, and after discussing your return to work with your supervisor.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;It is important to separate yourself even if you do not have any symptoms, because you can transmit the virus before you&amp;nbsp;feel ill or&amp;nbsp;develop symptoms. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;During this&amp;nbsp;time,&amp;nbsp;you&amp;nbsp;must&amp;nbsp;actively&amp;nbsp;monitor your symptoms. This includes fever, cough, shortness of breath, and muscle aches and pains. At any point if you develop symptoms you should call your provider immediately as you likely will be eligible for COVID-19 testing. It&amp;nbsp;is critical&amp;nbsp;that you remain in&amp;nbsp;self-isolation&amp;nbsp;during this entire&amp;nbsp;time period. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referrals_Screen</name>
        <label>Referrals Screen</label>
        <locationX>806</locationX>
        <locationY>922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <fields>
            <name>Referral_Provider</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Healthcare Provider&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallProviderText</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We suggest that you call your provider and tell them you were exposed to the coronavirus.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please note that if you are tested and your test shows you have coronavirus,&amp;nbsp;please&amp;nbsp;contact us&amp;nbsp;so that we can&amp;nbsp;gather information about people you have been&amp;nbsp;in close proximity during the days leading up to your symptoms.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;It&amp;nbsp;is&amp;nbsp;important&amp;nbsp;to think about&amp;nbsp;this&amp;nbsp;now&amp;nbsp;while&amp;nbsp;your memory is fresh. For the period of your self-observation, it will be important to separate&amp;nbsp;yourself&amp;nbsp;from close contact with&amp;nbsp;everyone onsite&amp;nbsp;and stay in your home.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SpecificQuarantineInstructionsScreen</name>
        <label>Specific Quarantine Instructions</label>
        <locationX>847</locationX>
        <locationY>1077</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Call_Closure</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Call Closure&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpecificQuarantineText</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We know that all of this&amp;nbsp;may&amp;nbsp;sound&amp;nbsp;concerning,&amp;nbsp;yet&amp;nbsp;we know that the way to&amp;nbsp;slow&amp;nbsp;this&amp;nbsp;COVID-19&amp;nbsp;is to work together as a community. The more contacts we find and get tested early, the more cases we can&amp;nbsp;hopefully&amp;nbsp;prevent. Thank you for helping&amp;nbsp;your fellow employees.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If&amp;nbsp;you are told you are positive for COVID, you need to let your supervisor know and this clinic as well, so that any potential other exposed persons can be determined.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If at any time you have questions about anything we discussed, please feel free to call us back at _______________.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sympton_Check_Screen</name>
        <label>Sympton Check Screen</label>
        <locationX>1219</locationX>
        <locationY>927</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Referral</targetReference>
        </connector>
        <fields>
            <name>Symptom_Check</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Contact Outreach - Symptom Check&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SymptomCheckText</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Let’s review common COVID-19 symptoms that might indicate a COVID infection.&amp;nbsp;If you have any of these, you should consult with your private healthcare provider.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Have you experienced any of the following symptoms?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Fever or chills&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Cough&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Shortness of breath or difficulty   breathing&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Fatigue&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Muscle or body aches&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Headache&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;New loss of taste or smell&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Sore throat&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Congestion or runny nose&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Nausea or vomiting&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Diarrhea&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;﻿If yes to any, capture what date the symptoms started.&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: black; font-size: 14px;&quot;&gt;Patient has symptoms&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt;&quot;&gt;Are you still having symptoms?&amp;nbsp;&lt;/span&gt;&lt;i style=&quot;font-size: 11pt;&quot;&gt;If no indicate when symptoms stopped.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_has_symptoms_input</name>
            <choiceReferences>GenericSymptoms_ChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient has symptoms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;This field must be YES if patient reports any of the below symptoms&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SymptomsDateText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Are you still having symptoms?&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3); font-size: 14px;&quot;&gt;If no indicate when symptoms stopped.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SymptomOnsetDateInput</name>
            <dataType>Date</dataType>
            <fieldText>Symptom Onset Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SymptomsEndDateInput</name>
            <dataType>Date</dataType>
            <fieldText>Symptom Resolution Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Acct_Details_Stage</name>
        <isActive>false</isActive>
        <label>Confirm Personal Details Continued</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Callback_Stage</name>
        <isActive>true</isActive>
        <label>Next Best Time to Call</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Clinical_Info_Stage</name>
        <isActive>false</isActive>
        <label>Clinical Information</label>
        <stageOrder>24</stageOrder>
    </stages>
    <stages>
        <name>Contact_Details_Stage</name>
        <isActive>true</isActive>
        <label>Confirm Employee/Contractor Details</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Corona_Info_Stage</name>
        <isActive>true</isActive>
        <label>Coronavirus Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Healthcare_End_Stage</name>
        <isActive>false</isActive>
        <label>End of Interview for Healthcare Workers</label>
        <stageOrder>9</stageOrder>
    </stages>
    <stages>
        <name>Home_Assessment_Stage</name>
        <isActive>false</isActive>
        <label>Home Assessment</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Intro_Stage</name>
        <isActive>true</isActive>
        <label>Introduction</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Objective_Stage</name>
        <isActive>true</isActive>
        <label>Call Objectives</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Quarantine_Stage</name>
        <isActive>true</isActive>
        <label>Self-isolation Instructions</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Referrals_Stage</name>
        <isActive>true</isActive>
        <label>Healthcare Provider</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Specific_Quarantine_Stage</name>
        <isActive>true</isActive>
        <label>Call Closure</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>Symptom_Stage</name>
        <isActive>true</isActive>
        <label>Symptom Check</label>
        <stageOrder>6</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Get_Case_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AcctRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CasePositiveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CityInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Constant_No</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>Constant_Yes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactTracingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>empl_type_durableid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_text_emp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Text_loc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExposureDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfectEndDtVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfectStartDtVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastOnsiteDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastOnsiteDtVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Location_durableid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PositiveDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostalCodeInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuarantineEndVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the case that initiated the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sel_loc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Current_Location</elementReference>
        </value>
    </variables>
    <variables>
        <name>Selected_Emptype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>selloc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Selected_Location</elementReference>
        </value>
    </variables>
    <variables>
        <name>StateInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storage_emp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storage_location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StreetInputVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskCallbackDateTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Callback_Date_and_Time</elementReference>
        </value>
    </variables>
</Flow>
