CTT_Package/flows/Guided_Script_Positive_Outreach.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignEmployeeInformation</name>
        <label>AssignEmployeeInformation</label>
        <locationX>1411</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>SelectedContact.Home_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Office_Location_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContact.Employment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employment_Type_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContact.Supervisor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone_Input_Var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_input_var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Supervisor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_input_var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone_Input_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDefaultNone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Call_Objectives_Assign</name>
        <label>Call Objectives</label>
        <locationX>1648</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Objectives_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Objective_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_Personal_Details_Assign</name>
        <label>Confirm Personal Details</label>
        <locationX>1796</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Personal_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Personal_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Overview_Assign</name>
        <label>Contact Overview</label>
        <locationX>787</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Overview_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Overview_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Coronavirus_Information_Assign</name>
        <label>Coronavirus Information</label>
        <locationX>1526</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coronavirus_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Coronavirus_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inform_Contacts</name>
        <label>Call Closure</label>
        <locationX>1568</locationX>
        <locationY>1600</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inform_Contacts_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>informContactsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inform_Contacts_0</name>
        <label>Call Closure</label>
        <locationX>1216</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inform_Contacts_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>informContactsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Instruct_to_Call_Medical_Provider</name>
        <label>Instruct to Call Medical Provider</label>
        <locationX>1924</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instruct_to_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instruct_to_Call_Medical_Provider_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IntroductionAssign</name>
        <label>Introduction</label>
        <locationX>1074</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Introduction_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Introduction_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_check</name>
        <label>Location check</label>
        <locationX>795</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Check_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Tracing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Visited_Assignment</name>
        <label>Location Visited Assignment</label>
        <locationX>1523</locationX>
        <locationY>1411</locationY>
        <assignmentItems>
            <assignToReference>LocationVisitedVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationVisited_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Creating_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Creating_Contacts</name>
        <label>Start Creating Contacts</label>
        <locationX>1365</locationX>
        <locationY>1411</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Creating_Contacts_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contacts_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Symptom_Check_Assign</name>
        <label>Symptom Check</label>
        <locationX>798</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Symptom_Check_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Symptom_Check_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Time_to_Call_Assign</name>
        <label>Next Best Time to Call</label>
        <locationX>1296</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Best_Time_to_Call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Best_Time_to_Call_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TipsAssign</name>
        <label>Tips</label>
        <locationX>951</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tips</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IntroductionAssign</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultBlankValue</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultEmploymentType</name>
        <choiceText>{!SelectedEmploymentType}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedEmploymentType</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultLocation</name>
        <choiceText>{!SelectedLocation}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedLocation</elementReference>
        </value>
    </choices>
    <choices>
        <name>DefaultTestResult</name>
        <choiceText>{!SelectedTestResult}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SelectedTestResult</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_TalkToDoctor</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_TimeToTalk</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>{!CaseRecord.Symptoms__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseRecord.Symptoms__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_AnotherContact</name>
        <choiceText>Yes I have another contact to disclose</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_TalkToDoctor</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes_TimeToTalk</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>CallbackSubject_Var</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </constants>
    <constants>
        <name>caseRecType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>caseRecType_DevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact_Outreach</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckDefaultNone</name>
        <label>CheckDefaultNone</label>
        <locationX>1529</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Location_Equals_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Office_Location_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Personal_Details_Screen</targetReference>
            </connector>
            <label>Default  Location Equals None</label>
        </rules>
        <rules>
            <name>Default_Employment_Type_Equals_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultEmploymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Personal_Details_Screen</targetReference>
            </connector>
            <label>Default Employment Type Equals None</label>
        </rules>
    </decisions>
    <decisions>
        <name>create_another_contact_case</name>
        <label>create another contact case</label>
        <locationX>1919</locationX>
        <locationY>1590</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_another_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>another_contact_to_disclose_input2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Visited_Assignment</targetReference>
            </connector>
            <label>Yes. - another contact</label>
        </rules>
        <rules>
            <name>no_no_other_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>another_contact_to_disclose_input2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Positive_Outreach_Case</targetReference>
            </connector>
            <label>no - no other contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contacts_Decisions</name>
        <label>Has Contacts Decisions</label>
        <locationX>983</locationX>
        <locationY>1287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Contacts_to_Report_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Creating_Contacts</targetReference>
            </connector>
            <label>Yes - Has Contacts</label>
        </rules>
        <rules>
            <name>No_Has_No_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Contacts_to_Report_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Positive_Outreach_Case_For_Policy_Email_Flag</targetReference>
            </connector>
            <label>No - Has No Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Talked_to_Provider</name>
        <label>Talked to Provider</label>
        <locationX>1659</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_TalkToDoctor</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Objectives_Assign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_TalkToDoctor</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instruct_to_Call_Medical_Provider</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_to_Talk</name>
        <label>Time to Talk</label>
        <locationX>1280</locationX>
        <locationY>92</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Time_to_Talk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_TimeToTalk</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Coronavirus_Information_Assign</targetReference>
            </connector>
            <label>Yes - Time to Talk</label>
        </rules>
        <rules>
            <name>No_Time_to_Talk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_TimeToTalk</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_to_Call_Assign</targetReference>
            </connector>
            <label>No - Time to Talk</label>
        </rules>
    </decisions>
    <description>New Sprint 7 Changes - Changed Language on Contact Tracing Overview</description>
    <dynamicChoiceSets>
        <name>ClinicLocationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onsite_Exposure_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmploymentTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employment_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExposurePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Exposure__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>KnowExposure_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_contact_know_about_their_exposure__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Home_Location__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>symptoms_picklist_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Symptoms__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestResultsPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Test_Status__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>whereExposed_MulitSelect</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Exposure_Source__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SelectedEmploymentType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!SelectedContact.Employment_Type__c})=&quot;&quot;,{!UpdatedEmploymentType},(TEXT({!SelectedContact.Employment_Type__c})))</expression>
    </formulas>
    <formulas>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!SelectedContact.Home_Location__c})=&quot;&quot;,{!UpdatedLocation},TEXT({!SelectedContact.Home_Location__c}))</expression>
    </formulas>
    <formulas>
        <name>SelectedTestResult</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!CaseRecord.Test_Status__c})=&quot;&quot;,{!UpdatedTestResult},(TEXT({!CaseRecord.Test_Status__c})))</expression>
    </formulas>
    <formulas>
        <name>UpdatedEmploymentType</name>
        <dataType>String</dataType>
        <expression>IF((TEXT({!ContactRecord.Employment_Type__c})=&quot;&quot;), &quot;--None--&quot;, TEXT({!ContactRecord.Employment_Type__c}) )</expression>
    </formulas>
    <formulas>
        <name>UpdatedLocation</name>
        <dataType>String</dataType>
        <expression>IF((TEXT({!ContactRecord.Home_Location__c})=&quot;&quot;), &quot;--None--&quot;, TEXT({!ContactRecord.Home_Location__c}))</expression>
    </formulas>
    <formulas>
        <name>UpdatedTestResult</name>
        <dataType>String</dataType>
        <expression>IF((TEXT({!CaseRecord.Test_Status__c})=&quot;&quot;), &quot;--None--&quot;, TEXT({!CaseRecord.Test_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>USERID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Guided Script - Positive Outreach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Guided Script - Positive Outreach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Callback_Task</name>
        <label>Create Callback Task</label>
        <locationX>850</locationX>
        <locationY>366</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Callback_Time_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CallbackSubject_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Outreach_Case</name>
        <label>Create Contact Outreach Case</label>
        <locationX>1926</locationX>
        <locationY>1251</locationY>
        <connector>
            <targetReference>create_another_contact_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Does_contact_know_about_their_exposure__c</field>
            <value>
                <elementReference>outreach_know_about_exposure_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exposure_Source_Details__c</field>
            <value>
                <elementReference>Other_Exposure_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Outreach_First_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Outreach_Last_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>outreach_phone_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onsite_Exposure_Location__c</field>
            <value>
                <elementReference>ClinicalLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>contactOutreachRecTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Exposure__c</field>
            <value>
                <elementReference>Outreach_Type_of_Exposure_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Contact_Outreach_Rec_Type</name>
        <label>Contact Outreach Rec Type</label>
        <locationX>1684</locationX>
        <locationY>1259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Outreach_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecType_DevName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>contactOutreachRecTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Data</name>
        <label>Get Case Data</label>
        <locationX>458</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Symptoms__c</queriedFields>
        <queriedFields>Symptom_Onset_Date__c</queriedFields>
        <queriedFields>Symptom_Resolution_Date__c</queriedFields>
        <queriedFields>Test_Taken_Date__c</queriedFields>
        <queriedFields>Test_Status__c</queriedFields>
        <queriedFields>Have_you_already_been_tested__c</queriedFields>
        <queriedFields>Test_Result_Date__c</queriedFields>
        <queriedFields>Last_Onsite_Date__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Face_Covering__c</queriedFields>
        <queriedFields>Onsite_Exposure_Location__c</queriedFields>
        <queriedFields>Inquiry_Record_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>738</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tips_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Employment_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Supervisor_Name__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Employer__c</queriedFields>
        <queriedFields>Building_Name__c</queriedFields>
        <queriedFields>Home_Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>581</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>USERID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Symptoms</name>
        <label>Update Case Symptoms</label>
        <locationX>991</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>Has_Contacts_Decisions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exposure_Source__c</field>
            <value>
                <elementReference>whereExposed_MulitSelect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Face_Covering__c</field>
            <value>
                <elementReference>Did_you_wear_a_face_mask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Have_you_already_been_tested__c</field>
            <value>
                <elementReference>Have_you_already_been_tested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Onsite_Date__c</field>
            <value>
                <elementReference>Last_Onsite_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Contacts_Reported__c</field>
            <value>
                <elementReference>No_Contacts_to_Report_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom_Onset_Date__c</field>
            <value>
                <elementReference>Symptoms_Onset_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom_Resolution_Date__c</field>
            <value>
                <elementReference>Symptom_Resolution_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms__c</field>
            <value>
                <elementReference>Still_have_symptoms_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Result_Date__c</field>
            <value>
                <elementReference>Test_Result_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Status__c</field>
            <value>
                <elementReference>Test_Results</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Taken_Date__c</field>
            <value>
                <elementReference>Test_Taken_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>1260</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Update_Employer_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>SelectedContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employer_Name</name>
        <label>Update Employer Name</label>
        <locationX>1054</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Symptom_Check_Assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Building_Name__pc</field>
            <value>
                <elementReference>Building_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer_Name__c</field>
            <value>
                <elementReference>Employer_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Positive_Outreach_Case</name>
        <label>Update Positive Outreach Case</label>
        <locationX>1674</locationX>
        <locationY>1599</locationY>
        <connector>
            <targetReference>Inform_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exposure_Source_Details__c</field>
            <value>
                <elementReference>LocationVisited_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Email_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Positive_Outreach_Case_For_Policy_Email_Flag</name>
        <label>Update Positive Outreach Case For Policy Email Flag</label>
        <locationX>988</locationX>
        <locationY>1600</locationY>
        <connector>
            <targetReference>Inform_Contacts_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Policy_Email_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>Call Objectives</description>
        <name>Call_Objective_Screen</name>
        <label>Call Objectives</label>
        <locationX>1664</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Personal_Details_Assign</targetReference>
        </connector>
        <fields>
            <name>CallObjectiveHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Call Objectives&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallObjectiveText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The Agency is working to&amp;nbsp;slow&amp;nbsp;the spread of COVID-19 in the workplace. To do this, we need to talk about two important items with you.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;First, we need to&amp;nbsp;contact Agency employees and contractors&amp;nbsp;you have been in contact with and let them know&amp;nbsp;there may be&amp;nbsp;actions they should take. Your name will not be disclosed to the persons we&amp;nbsp;contact.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Second, it is critical that you self-isolate immediately so that nobody else&amp;nbsp;becomes&amp;nbsp;infected.&amp;nbsp;Self-isolation means not coming to work and isolating yourself for at least 14 days.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Confirm Employee/Contractor Details</description>
        <name>Confirm_Personal_Details_Screen</name>
        <label>Confirm Employee/Contractor Details</label>
        <locationX>1535</locationX>
        <locationY>1013</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignEmployeeInformation</targetReference>
        </connector>
        <fields>
            <name>EmployeeContractorConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Confirm Employee/Contractor Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PersonalInfoText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Before we start, let us make sure we have your correct contact information.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactPhone_Input</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Preferred Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactRecord.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MobilePhone_Input_Var</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ContactEmail_Input</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactRecord.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Preferred Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>email_input_var</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Primary_Office_Location_Input</name>
            <choiceReferences>DefaultLocation</choiceReferences>
            <choiceReferences>LocationPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultLocation</defaultSelectedChoiceReference>
            <fieldText>Home Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;Home Location is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Primary_Office_Location_Input</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Building_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.Building_Name__c</elementReference>
            </defaultValue>
            <fieldText>Primary work building during infectious period</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Employment_Type_Input</name>
            <choiceReferences>DefaultEmploymentType</choiceReferences>
            <choiceReferences>EmploymentTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultEmploymentType</defaultSelectedChoiceReference>
            <fieldText>Employment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmploymetTypeRequiredMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;﻿Employment Type is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Employment_Type_Input</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>--None--</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Employment_Type_Input</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.Employer__c</elementReference>
            </defaultValue>
            <fieldText>Employer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Supervisor_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.Supervisor_Name__c</elementReference>
            </defaultValue>
            <fieldText>Supervisor Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Overview_Screen</name>
        <label>Contact Tracing Overview</label>
        <locationX>967</locationX>
        <locationY>985</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Symptoms</targetReference>
        </connector>
        <fields>
            <name>ContactTracingHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Contact Tracing Overview&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactOverviewText</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;One of the most important things that we can do as a community to slow the pandemic is contact tracing. We need your help to do this. We are talking to everyone who is diagnosed, such as yourself. We need to notify individuals you came into close contact with while you were contagious and urge them to self-isolate and be hypervigilant to monitor developing symptoms and urge them to get tested, if needed. This will help them protect themselves and their families, and we want to make sure they receive the help they need to do that.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;During this process we will to the greatest extent possible to keep your COVID-19 diagnosis and identity confidential.&amp;nbsp;However, there are times when that may not be possible, for example for activities where there was only one other person present.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Have you been to an Agency site since the earlier of either 2 days before your symptoms began or 2 days before the date you were tested?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Symptom Onset Date: {!Symptoms_Onset_Date_Input}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Test Taken Date: {!Test_Taken_Date_Input}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: red;&quot;&gt;If the answer is no, select ‘No Contacts to Report.’ Otherwise, proceed to next screen to collect potentially exposed contacts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Contacts_to_Report_Input</name>
            <dataType>Boolean</dataType>
            <fieldText>No Contacts to Report</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Coronavirus_Information_Screen</name>
        <label>Coronavirus Information</label>
        <locationX>1667</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Talked_to_Provider</targetReference>
        </connector>
        <fields>
            <name>CoronavirusInfoHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Coronavirus Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoronavirusInfoText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;COVID-19 is a new virus and is in almost all countries in the world. It can cause many types of symptoms but mostly affects the respiratory system, causing fever and cough. It spreads from an infected person from when they cough, breathe, sneeze, or touch a surface that other people then touch. COVID-19 is extremely contagious, and it spreads very easily through contact. Luckily, most cases are mild or moderate and most people do not need to be hospitalized. Some cases can get more serious and cause pneumonia and breathing difficulties. This call is not intended to replace the interaction with your private healthcare provider. If you need additional information, please speak with your clinician.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_already_spoken_with_a_doctor_or_a_nurse_about_your_test_results</name>
            <choiceReferences>Yes_TalkToDoctor</choiceReferences>
            <choiceReferences>No_TalkToDoctor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you already spoken with a doctor or a nurse about your test results?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Contacts_Screen</name>
        <label>Identify Potentially Exposed Contacts and Locations</label>
        <locationX>1363</locationX>
        <locationY>1266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Outreach_Rec_Type</targetReference>
        </connector>
        <fields>
            <name>PotentiallyExposedContactsHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Identify Potentially Exposed Contacts and Locations&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartContactsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We are going to think through everyone you have been around, while at an Agency location, during this time.&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: red; font-size: 14px;&quot;&gt;The earlier of either 2 days before your symptoms began or 2 days before the date you were tested.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Symptom Onset Date: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Symptoms_Onset_Date_Input}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Test Taken Date: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Test_Taken_Date_Input}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Think back to where you were on that day and since then. Don&apos;t worry, we will go into detail.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;I want&amp;nbsp;you&amp;nbsp;to think about&amp;nbsp;the&amp;nbsp;people you are around routinely in your&amp;nbsp;work&amp;nbsp;life: your coworkers.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;We will&amp;nbsp;want to&amp;nbsp;discuss anyone&amp;nbsp;you have&amp;nbsp;been within 6 feet (2 meters) for&amp;nbsp;15&amp;nbsp;minutes or more&amp;nbsp;while at an Agency location.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10.5pt;&quot;&gt;Examples:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Who do you share an office with?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Who did you have meetings   with?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Who is your boss? Who reports to you?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Who do you eat meals with when you are at work?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Who do you travel with to work?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Have you worked with anyone at other Agency Centers/Locations  during this   period?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;·&amp;nbsp;&amp;nbsp;&amp;nbsp;   What locations did you visit onsite during this period? (i.e., conference rooms, gym, library, post office, mail room, warehouse, bathrooms)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 10.5pt;&quot;&gt;Only create contacts for Agency employees or Agency contractors&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;If the caller has no contacts, go back to previous screen and check ‘No contacts to Report’&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;For each contact created, fill in at least the required fields:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;&amp;nbsp;If required information is not available but there is any possibility of finding the information you can fill in with ‘X’ and indicate in description how we can locate the missing information (e.g. if we have email but not phone)&lt;/span&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt; &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;&amp;nbsp;Keep the ‘Do you have another contact to disclose?’ checkbox checked until the last contact is collected, this will allow you to enter multiple contacts.&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt; &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10.5pt;&quot;&gt;Use the ‘Other Exposure Notes’ field to capture additional information that may be helpful when contacting the identified individual (e.g., was this person the meeting organizer)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt;&quot;&gt;What locations did you visit onsite during this period?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocationVisited_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LocationVisitedVar</elementReference>
            </defaultValue>
            <fieldText>What locations did you visit onsite during this period?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Outreach_First_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Outreach_Last_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OutreachPreferredPhone_Input</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outreach_phone_var</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ClinicalLocation_Input</name>
            <choiceReferences>ClinicLocationPicklist</choiceReferences>
            <choiceReferences>DefaultBlankValue</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultBlankValue</defaultSelectedChoiceReference>
            <fieldText>Onsite Exposure Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LocationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Onsite Exposure Location is required.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ClinicalLocation_Input</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outreach_Type_of_Exposure_Input</name>
            <choiceReferences>ExposurePicklist</choiceReferences>
            <choiceReferences>DefaultBlankValue</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultBlankValue</defaultSelectedChoiceReference>
            <fieldText>Type of Exposure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeofExposureMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Type of Exposure is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Outreach_Type_of_Exposure_Input</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Exposure_Notes</name>
            <fieldText>Other Exposure Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>outreach_know_about_exposure_Input</name>
            <choiceReferences>KnowExposure_picklist</choiceReferences>
            <choiceReferences>DefaultBlankValue</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultBlankValue</defaultSelectedChoiceReference>
            <fieldText>Does contact know you have tested positive for COVID-19 and may have been exposed to you?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImportantInformation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: inherit;&quot;&gt;IMPORTANT: Only proceed with this checked if there is another contact to add.&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>another_contact_to_disclose_input2</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have another contact to disclose?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1166</locationX>
        <locationY>1100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMessage</name>
            <fieldText>&lt;p&gt;Please fix this issue and continue:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>informContactsScreen</name>
        <label>Call Closure</label>
        <locationX>1409</locationX>
        <locationY>1601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CallClosureHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Call Closure&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>successText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;[If contacts provided]&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; We will be trying to contact the people you provided. We will be encouraging them to take appropriate action to protect themselves and those close to them.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We know that all of this may sound concerning, yet we know that the way to slow this COVID-19 is to work together as a community. The more contacts we find and get tested early, the more cases we can hopefully prevent. Thank you for helping your fellow employees.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If at any time you have questions about anything we discussed, please feel free to call us back at _______________.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Instruct_to_Call_Medical_Provider_Screen</name>
        <label>Instruct to Call Medical Provider</label>
        <locationX>1932</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Objectives_Assign</targetReference>
        </connector>
        <fields>
            <name>CallMedicalProviderHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Instruct to Call Medical Provider&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedProviderText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To assess your symptoms and risks you should speak with a clinician. It is important that you contact your health provider.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Introduction and Confirming Caller Identity</description>
        <name>Introduction_Screen</name>
        <label>Introduction and Confirming Caller Identity</label>
        <locationX>1074</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Time_to_Talk</targetReference>
        </connector>
        <fields>
            <name>ConfirmingIdentityText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach&amp;nbsp;- &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: black;&quot;&gt;Introduction and Confirming Caller Identity&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IntroDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hello, my name is &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!UserRecord.Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;and I am calling from &amp;nbsp;__________  regarding COVID-19 and assisting as a contract tracer for the Agency and would like to speak with you regarding your recent work activities.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Can I confirm I am speaking with &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!ContactRecord.Name}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: red;&quot;&gt;If no, ask to speak to that person.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: red;&quot;&gt;If yes, ask them to confirm they have indeed recently been told they were positive for COVID-19 virus.&lt;/span&gt;&lt;span style=&quot;color: red;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>infoText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Thank you for confirming this information.&amp;nbsp;&amp;nbsp;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TimeToSpeakInput</name>
            <choiceReferences>Yes_TimeToTalk</choiceReferences>
            <choiceReferences>No_TimeToTalk</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have time to speak with me now?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IntroTextContinued</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: inherit; color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;[If yes, must&amp;nbsp;read]&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: inherit; font-size: 14px;&quot;&gt;Let me first read you this Privacy Act Notification.&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;The collection of information you are about to provide is authorized and will be protected in accordance with the Privacy Act of 1974. Failure to provide the requested information will result in denial of your Agency access.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;The information will be used to determine whether you may have been exposed to the COVID-19 virus and to trace your interactions.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;The Agency may share this information for authorized purposes with (1) private or other government health care providers or agencies for consultation, and (2) other entities outlined under routine uses for all the Agency’s systems of records.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;I will email you an electronic copy of this statement along with an elaboration of the System of Records and conditions of information disclosure of “Routine Uses.”&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Next_Best_Time_to_Call_Screen</name>
        <label>Next Best Time to Call</label>
        <locationX>1080</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Callback_Task</targetReference>
        </connector>
        <fields>
            <name>BestTimetoCallText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Next Best Time to Call&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallTimeDisplayText</name>
            <fieldText>&lt;p&gt;When is a better time to call?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Callback_Time_Input</name>
            <dataType>DateTime</dataType>
            <fieldText>Callback Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Padding</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Symptom_Check_Screen</name>
        <label>Symptom Check</label>
        <locationX>793</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Location_check</targetReference>
        </connector>
        <fields>
            <name>SymptomCheckHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Positive Outreach - Symptom Check&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SymptomCheckScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Have you had any of the following symptoms? Such as:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Fever or chills&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;Cough&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Shortness &lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 14px;&quot;&gt;o&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;f breath &lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 14px;&quot;&gt;or &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;difficulty breathing&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Fatigue&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Muscle or body aches&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Headache&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 14px;&quot;&gt;New loss of taste or smell&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sore throat&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Congestion or runny nose&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Nausea or vomiting&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Symbol; font-size: 14px;&quot;&gt;·&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&amp;nbsp;Diarrhea&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: red; font-size: 14px;&quot;&gt;If no, mark ‘Still have symptoms’ as no and proceed to next section.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;When was the first day you felt any symptoms at all? Even if they were minimal, we want to be sure to capture the first day you felt symptoms.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Do you still have symptoms?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px; color: rgb(247, 1, 1);&quot;&gt;If no, indicate the date the symptoms resolved.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Still_have_symptoms_input</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>symptoms_picklist_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Still have symptoms?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Symptoms_Onset_Date_Input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Symptom_Onset_Date__c</elementReference>
            </defaultValue>
            <fieldText>Symptom Onset Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Symptom_Resolution_Date_Input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Symptom_Resolution_Date__c</elementReference>
            </defaultValue>
            <fieldText>Symptom Resolution Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Onsite_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Last_Onsite_Date__c</elementReference>
            </defaultValue>
            <fieldText>Last Onsite Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Have_you_already_been_tested</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Have_you_already_been_tested__c</elementReference>
            </defaultValue>
            <fieldText>Have you already been tested?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Test_Taken_Date_Input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Test_Taken_Date__c</elementReference>
            </defaultValue>
            <fieldText>Test Taken Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_already_been_tested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Test_Results</name>
            <choiceReferences>DefaultTestResult</choiceReferences>
            <choiceReferences>TestResultsPickList</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultTestResult</defaultSelectedChoiceReference>
            <fieldText>Test Results</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_already_been_tested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Test_Result_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Test_Result_Date__c</elementReference>
            </defaultValue>
            <fieldText>Test Result Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_already_been_tested</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Did_you_wear_a_face_mask</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Face_Covering__c</elementReference>
            </defaultValue>
            <fieldText>Did you wear a face mask?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Description</elementReference>
            </defaultValue>
            <fieldText>Other Pertinent Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Positive Outreach  - Pre-call: Tips to the Contact Tracer</description>
        <name>Tips_Screen</name>
        <label>Pre-call: Tips to the Contact Tracer</label>
        <locationX>952</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TipsAssign</targetReference>
        </connector>
        <fields>
            <name>TipsText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: black; font-size: 16px;&quot;&gt;Positive Outreach -  Pre-call: Tips to the Contact Tracer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TipsDisplayText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;It may be helpful to use a calendar or specific dates (holidays, weekends, etc.) to help patients recall activities.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;You will not be giving clinical advice, but you will be asking about basic symptoms. &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;If you feel nervous at any point you should refer them to their provider. If they do not have a provider, you should suggest to them options including the provider who ordered their test; the nearest community health center; an urgent care; and you can also contact your supervisor.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Fear can slow down someone&apos;s ability to recall contacts. Providing reassurance and gentle prompts may help put the patient at ease. It is ok to redirect to a different part of the script and come back to items if they are stuck.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Their name and private information will only be used to establish possible exposure contacts and will not be shared with anyone outside of the clinic and their supervisor. &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Remember to be compassionate and empathetic.&amp;nbsp;These are individuals who have learned just recently (or while on this call) that they were diagnosed with this virus.&amp;nbsp;They may feel scared about this or about the possibility of having exposed others to the virus.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;This is not a replacement for any contact tracing the local public health department may want to perform, it is only for the health and safety of the staff at the Agency.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Call_Objectives_Stage</name>
        <isActive>true</isActive>
        <label>Call Objectives</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Confirm_Personal_Details</name>
        <isActive>true</isActive>
        <label>Confirm Employee/Contractor Details</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Contact_Overview_Stage</name>
        <isActive>true</isActive>
        <label>Contact Tracing Overview</label>
        <stageOrder>9</stageOrder>
    </stages>
    <stages>
        <name>Coronavirus_Information_Stage</name>
        <isActive>true</isActive>
        <label>Coronavirus Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Inform_Contacts_Stage</name>
        <isActive>true</isActive>
        <label>Call Closure</label>
        <stageOrder>11</stageOrder>
    </stages>
    <stages>
        <name>Instruct_to_Call</name>
        <isActive>true</isActive>
        <label>Instruct to Call Medical Provider</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Introduction_Stage</name>
        <isActive>true</isActive>
        <label>Introduction and Confirming Caller Identity</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Location_Check_Stage</name>
        <isActive>true</isActive>
        <label>Location Check</label>
        <stageOrder>8</stageOrder>
    </stages>
    <stages>
        <name>Next_Best_Time_to_Call</name>
        <isActive>true</isActive>
        <label>Next Best Time to Call</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Notify_Local_Board_of_Health</name>
        <isActive>false</isActive>
        <label>Notify Local Board of Health</label>
        <stageOrder>16</stageOrder>
    </stages>
    <stages>
        <name>Positive_Outreach_Details</name>
        <isActive>false</isActive>
        <label>Positive Outreach Case Details</label>
        <stageOrder>14</stageOrder>
    </stages>
    <stages>
        <name>Start_Creating_Contacts_Stage</name>
        <isActive>true</isActive>
        <label>Identify Potentially Exposed Contacts and Locations</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Symptom_Check_Stage</name>
        <isActive>true</isActive>
        <label>Symptom Check</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Tips</name>
        <isActive>true</isActive>
        <label>Pre-call: Tips to the Contact Tracer</label>
        <stageOrder>0</stageOrder>
    </stages>
    <start>
        <locationX>105</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Get_Case_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Location_Tracing</name>
        <label>Location Tracing</label>
        <locationX>799</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference>Contact_Overview_Assign</targetReference>
        </connector>
        <flowName>Location_Outreach_Flow</flowName>
        <inputAssignments>
            <name>getCaserecordId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>TipsTemplate</name>
        <text>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt; It may be helpful to use a calendar or specific dates (holidays, weekends, etc.) to help patients recall activities.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;You will not be giving clinical advice, but you will be asking about basic symptoms. &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;If you feel nervous at any point you should refer them to their provider. If they do not have a provider, you should suggest to them options including the provider who ordered their test; the nearest community health center; an urgent care; and you can also contact your supervisor.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Fear can slow down someone&apos;s ability to recall contacts. Providing reassurance and gentle prompts may help put the patient at ease. It is ok to redirect to a different part of the script and come back to items if they are stuck.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Their name and private information will only be used to establish possible exposure contacts and will not be shared with anyone outside of the clinic and their supervisor.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Remember to be compassionate and empathetic.&amp;nbsp;These are individuals who have learned just recently (or while on this call) that they were diagnosed with this virus.&amp;nbsp;They may feel scared about this or about the possibility of having exposed others to the virus.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;This is not a replacement for any contact tracing the local public health department may want to perform, it is only for the health and safety of the staff at &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Agency&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactOutreachRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>email_input_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationVisitedVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MobilePhone_Input_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outreach_phone_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
