CTT_Package/flows/HOF_Dynamic_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check template is blank or not. If blank then redirect to the template selection screen, otherwise redirect to main screen</description>
        <name>Check_Template_ID</name>
        <label>Check Template ID</label>
        <locationX>138</locationX>
        <locationY>162</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Navigate_to_Main_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dynamic_Questions</targetReference>
            </connector>
            <label>Navigate to Main Flow</label>
        </rules>
        <rules>
            <name>Navigate_to_Template_Selection</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TemplateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>templateselection</targetReference>
            </connector>
            <label>Navigate to Template Selection</label>
        </rules>
    </decisions>
    <description>Removed Age/Gender Rule Engine Dependency (object, fields &amp; rule records dependencies)</description>
    <interviewLabel>HOF Dynamic Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOF Dynamic Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRecordDetails</name>
        <label>GetRecordDetails</label>
        <locationX>324</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>recordDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>dynamic_Questions</name>
        <label>dynamic Questions</label>
        <locationX>278</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuestionContainer</name>
            <extensionName>c:ACN_QuestionniareContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordDetails.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>standardPrevious</name>
                <value>
                    <elementReference>standardPrevious</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateId</name>
                <value>
                    <elementReference>TemplateId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>templateselection</name>
        <label>templateselection</label>
        <locationX>36</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dynamic_Questions</targetReference>
        </connector>
        <fields>
            <name>template</name>
            <extensionName>c:ACN_TemplateSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TemplateId</assignToReference>
                <name>selectedTemplate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>standardPrevious</assignToReference>
                <name>standardPrevious</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>146</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Check_Template_ID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>standardPrevious</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
