CTT_Package/flows/Location_Outreach_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>CaseNotNull</name>
        <label>CaseNotNull</label>
        <locationX>684</locationX>
        <locationY>73</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_case_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaserecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Tracing_Overview</targetReference>
            </connector>
            <label>Check case Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Locations_to_Report</name>
        <label>Locations to Report</label>
        <locationX>910</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Report_Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Contacts_to_Report</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Location_Details</targetReference>
            </connector>
            <label>Yes - Report Locations</label>
        </rules>
        <rules>
            <name>No_Report_Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Contacts_to_Report</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No -  Report Locations</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Locations2</name>
        <label>More Locations</label>
        <locationX>1104</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More_Locations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Location_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>More_Locations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Modified Screen Changes</description>
    <dynamicChoiceSets>
        <name>locationspicklistVar</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onsite_Exposure_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Location Outreac Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Outreach Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCases</name>
        <label>createCases</label>
        <locationX>1346</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>More_Locations2</targetReference>
        </connector>
        <inputAssignments>
            <field>Buildings_Visited__c</field>
            <value>
                <elementReference>Buildings_Visited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onsite_Exposure_Location__c</field>
            <value>
                <elementReference>locationspicklistVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>getCaserecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>locationrecordtypeVar</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCaseId</name>
        <label>GetCaseId</label>
        <locationX>378</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLocRecTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCaserecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Onsite_Exposure_Location__c</queriedFields>
        <queriedFields>Inquiry_Record_Type__c</queriedFields>
        <queriedFields>Buildings_Visited__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetLocRecTypeId</name>
        <label>GetLocRecTypeId</label>
        <locationX>538</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseNotNull</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location Outreach</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>locationrecordtypeVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Capture_Location_Details</name>
        <label>Capture Location Details</label>
        <locationX>1107</locationX>
        <locationY>569</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createCases</targetReference>
        </connector>
        <fields>
            <name>LocationChk</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Positive Outreach - Location Check&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Locations</name>
            <choiceReferences>locationspicklistVar</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Locations</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Buildings_Visited</name>
            <defaultValue>
                <stringValue>{!caseRecord.Buildings_Visited__c}</stringValue>
            </defaultValue>
            <fieldText>Buildings Visited</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>More_Locations</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>morelocVar</elementReference>
            </defaultValue>
            <fieldText>More Locations</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>691</locationX>
        <locationY>294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_Tracing_Overview</name>
        <label>Location Tracing Overview</label>
        <locationX>916</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Locations_to_Report</targetReference>
        </connector>
        <fields>
            <name>LocationCheck</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Positive Outreach - Location Check&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Contact_info</name>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: black; font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt;One of the most important things that we can do in our Agency community to slow the pandemic is contact tracing. We need your help to do this. We are talking to everyone who is diagnosed, such as yourself and asking them two important questions:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;color: black; font-family: Calibri, sans-serif; font-size: 10.5pt;&quot;&gt;1.&lt;/b&gt;&lt;b style=&quot;color: black; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;color: black; font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;What centers/areas they’ve been at&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;color: black; font-family: Calibri, sans-serif; font-size: 10.5pt;&quot;&gt;2.&lt;/b&gt;&lt;b style=&quot;color: black; font-size: 10.5pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;color: black; font-size: 10.5pt; font-family: Arial, sans-serif;&quot;&gt;Who they may have come in contact with. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: black; font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt;During this process we will to the greatest extent possible to keep your COVID-19 diagnosis and identity confidential.&amp;nbsp;Your name will not be disclosed to the contacts we call. However, there are times when full confidentiality may not be possible, for example&lt;/span&gt;&lt;b style=&quot;color: black; font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt;,&lt;/b&gt;&lt;span style=&quot;color: black; font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt; for activities where there was only one other person present.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;color: black; font-family: Arial, sans-serif; font-size: 10.5pt;&quot;&gt;Have you been to any Agency site since the earlier of either 2 days before your symptoms began or 2 days before the date you were tested?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Contacts_to_Report</name>
            <dataType>Boolean</dataType>
            <fieldText>No Locations to Report</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>27</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>GetCaseId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Buildingsvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>getCaseIdvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>getCaserecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>locationrecordtypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locRectypeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>morelocarionsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>morelocVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
